<!-- About Me Section -->
<section id="about" class="py-16 md:py-20 container mx-auto px-4 fade-in-section">
    <h2 class="text-3xl md:text-4xl font-bold text-center section-heading mx-auto">About Me</h2>
    <div class="max-w-3xl mx-auto text-left text-lg leading-relaxed">
        <p class="mb-4">I am a passionate Python Developer with experience in backend development using Django Rest Framework, FastAPI, and integrating AWS services. I have worked on CRM projects, internal management systems, and e-commerce, especially with Japanese clients.</p>
        <p>I am dedicated to building scalable, performance-optimized systems and applying modern software development methodologies such as CI/CD and Microservices architecture.</p>
        <p class="mt-4">You can find more of my projects and contributions on <a href="https://github.com/datdinh173011" target="_blank" class="text-purple-600 hover:underline font-semibold">GitHub</a> and <a href="https://hackerrank.com/datmeesi892013" target="_blank" class="text-purple-600 hover:underline font-semibold">HackerRank</a>.</p>
    </div>
</section>