<!-- Skills Section -->
<section id="skills" class="py-16 md:py-20 bg-gray-100 fade-in-section">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl md:text-4xl font-bold text-center section-heading mx-auto">Skills</h2>
        <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div>
                <h3 class="text-xl font-semibold mb-3 text-purple-700">Languages</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="skill-tag">Python</span>
                    <span class="skill-tag">JavaScript</span>
                    <span class="skill-tag">Java</span>
                    <span class="skill-tag">C/C++</span>
                </div>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-3 text-purple-700">Frameworks/Technologies</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="skill-tag">Django</span>
                    <span class="skill-tag">FastAPI</span>
                    <span class="skill-tag">Celery</span>
                    <span class="skill-tag">Docker</span>
                    <span class="skill-tag">Git</span>
                    <span class="skill-tag">Nginx</span>
                    <span class="skill-tag">Redis</span>
                    <span class="skill-tag">Django Rest Framework</span>
                    <span class="skill-tag">Gunicorn</span>
                    <span class="skill-tag">JQuery</span>
                    <span class="skill-tag">HTML/CSS</span>
                    <span class="skill-tag">VueJS</span>
                </div>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-3 text-purple-700">Cloud/DevOps & Database</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="skill-tag">AWS (EC2, ECS Fargate, S3, CloudWatch)</span>
                    <span class="skill-tag">PostgreSQL</span>
                    <span class="skill-tag">MongoDB</span>
                    <span class="skill-tag">Google Firebase</span>
                </div>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-3 text-purple-700">Others</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="skill-tag">RESTful APIs</span>
                    <span class="skill-tag">CI/CD</span>
                    <span class="skill-tag">Microservices</span>
                </div>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-3 text-purple-700">Languages</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="skill-tag">Vietnamese (Native)</span>
                    <span class="skill-tag">English (TOEIC 600)</span>
                    <span class="skill-tag">Japanese (JLPT N4)</span>
                </div>
            </div>
        </div>
    </div>
</section>